@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css2?family=Material+Icons");

:root {
  --nicepurple: #bd93f9;
  --bg: #607799;
  --bg2: #73abcc;
  --bg3: #a9cbdf;
}

body {
  background-color: var(--bg);
  font-family: Open Sans;
}

h1 {
  color: whitesmoke;
  justify-content: center;
  align-items: center;
  display: flex;
}

code {
  font-size: large;
  font-family: Inconsolata;
  background-color: #b6c1d1;
}

/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 200px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: var(--bg);
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: whitesmoke;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: var(--nicepurple);
}

/* Style page content */
.main {
  margin-left: 200px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.border {
  background-color: var(--bg2);
  font-family: Open Sans;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1px;
  font-family: Open Sans;
}
.grid-container > div {
  background-color: var(--bg3);
  padding: 10px;
}

button {
  background-color: var(--bg2);
  border-radius: 5px;
}
