@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

h1 {
        font-size: 32px;
        color: #bd93f9;
        text-align: center;
        font-family: Inconsolata;
        }
p {
    text-align: center;
    font-size: 24px;
    font-family: Inconsolata;
    color: lightgray;
    }

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    }
